[submodule "rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark
[submodule "external/tclap"]
	path = external/tclap
	url = https://github.com/gburca/tclap
[submodule "external/re2"]
	path = external/re2
	url = https://github.com/google/re2.git
[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
