[submodule "rapidjson"]
	path = external/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark
[submodule "external/tclap"]
	path = external/tclap
	url = https://git.code.sf.net/p/tclap/code
