[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/google/benchmark
