# Redirect git to the local mirror to work around SSL issues when building on
# old RHEL6 boxes. To make use of this config, run git commands as:
#
# env HOME=/path/to/dir/containing/this/file git submodule update
#

[url "git@git.drwholdings.com:mirror/"]
    insteadOf=https://github.com/google/
    insteadOf=https://github.com/gburca/
    insteadOf=https://github.com/Tencent/
