name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux GCC 14 Debug/Coverage
            os: ubuntu-24.04
            env: BUILD_TYPE=Debug EXTRA_CMAKE=-DCOVERAGE=On GCOV=gcov-14 CC=gcc-14 CXX=g++-14
          - name: Linux GCC 14 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=gcc-14 CXX=g++-14
          - name: Linux GCC 13 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=gcc-13 CXX=g++-13
          - name: Linux GCC 12 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=gcc-12 CXX=g++-12
          - name: Linux GCC 11 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=gcc-11 CXX=g++-11
          - name: Linux Clang 18 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=clang-18 CXX=clang++-18
          - name: Linux Clang 17 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=clang-17 CXX=clang++-17
          - name: Linux Clang 16 Release
            os: ubuntu-24.04
            env: BUILD_TYPE=Release STATIC=On LTO=On CC=clang-16 CXX=clang++-16
          - name: macOS Latest Release
            os: macos-latest
            env: BUILD_TYPE=Release
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: CMake Build
      run: |
        eval ${{ matrix.env }}
        export CC CXX
        mkdir out
        cd out
        cmake -Wno-dev -DCMAKE_BUILD_TYPE=${BUILD_TYPE} ${EXTRA_CMAKE} ..
        cmake --build . -- -j2
        ctest --output-on-failure -D ExperimentalBuild -j2
        ctest --output-on-failure -D ExperimentalTest -j2
        [[ -z "${GCOV}" ]] || find . -type f -name '*.gcno' -exec ${GCOV} -pabcfu '{}' +
    - name: Codecov Upload
      if: contains(matrix.name, 'Coverage')
      uses: codecov/codecov-action@v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
